/** Lovepreet Singh (200597146) **/
body {
    font-family: 'Arial', sans-serif;
    background-color: #f9f9f9;
    color: #333;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

/* header */
header {
    background-image: url('2pac2.jpeg');  /* adding background imager */
    background-size: cover;
    text-align: center;
    padding: 50px 20px;
    color: white;
}

/* font family */
header h1 {
    font-family: "Exo 2", sans-serif;
    font-size: 4em;
}

header h2 {
    font-family: "Exo 2", sans-serif;
    font-size: 2em;
}

/* main */
main {
    padding: 20px;
}

/* adjusting length , text size , color of lyrics section*/
.lyrics {
    max-width: 1000px;
    height: 350px;
    overflow-y: scroll;
    border: 1px solid #ccc;
    background-color: #737272;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
}

.lyrics1 {
    text-align: center;
    line-height: 1.0;
    color: white;
    font-weight: bold;
}

/* font family */
.lyrics h3 {
    font-family: "Matemasie", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 3.4em;
    color: #780606;
    margin-top: 1em;
    margin-bottom: 2em;
}

.lyrics p {
    font-size: 35px;
    font-family: "Satisfy", cursive;
    font-weight: 400;
    font-style: normal;
}

/* media section */
.media{
    text-align: center;
    margin: 20px 0;
}
.media iframe {
    width: 50%;

    height: 400px;
    border: 6px solid #737272;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);

}

.media h3{
    font-size: 55px;
    text-align: center;
    font-family: "Amatic SC", sans-serif;  /* font family */
    font-weight: 700;
    font-style: normal;
}

/* footer */
footer {
    text-align: center;
    padding: 30px 0;
    background-color: #333;
    color: white;
}

footer p{
    font-family: "Permanent Marker", cursive;   /* font family */
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
}

footer h2{
    font-size: 10px;
}
